.cardCont{
    display: flex;
    flex-direction: column;
    height: 70%;
}

.botonIngre{
    
    display: flex;

}

.card a{
    position: absolute;
    bottom: 40%;
    right: 5%;
    width: 10rem;
}