
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(240, 240, 240);
    font-family: sans-serif;
}

section {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reloj {
    display: inline-block;

    background: #d1dae3;
    color: #71767f;
    padding: 30px;
    font-weight: bold;
    font-size: 40px;
    border-radius: 4px;
    border: 4px solid #cad3dc;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.5),
        10px 10px 10px rgba(0, 0, 0, 0.1),
        inset -8px -8px 15px rgba(255, 255, 255, 0.5),
        inset 10px 10px 10px rgba(0, 0, 0, 0.1);
}


/* ------------------------------------------------------------ */


.notification {
    margin-left: 39%;
    position: relative;
    display: inline-block;
    max-width: 300px;
    padding: 20px 15px;
    border-radius: 4px;
    background-color: rgba(34, 34, 34, 0.75);
    color: #f6f5f9;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade 4s linear forwards;
}

.progress {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 0;
    height: 3px;
    background-image: linear-gradient(to right, #529bdb, #3250bf);
    border-radius: 4px;
    animation: progress 3s .25s linear forwards;
}

@keyframes fade {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }

    90% {
        opacity: 1;
        transform: translateY(0px);
    }

    95% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: translateY(-30px);
    }
}

@keyframes progress {
    to {
        width: calc(100% - 10px);
    }
}


/******************CARDS DEL INICIO*************************************/

.cardCont {
    display: grid;
    grid-gap: 20px;
}

.cards-4 {
    grid-template-columns: repeat(4, 1fr);
}

.card {
    border: solid;
    height: 100px;
    width: 400px;
    padding: 0 20px 0px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    /* overflow: hidden; */
    margin: 20px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}
.card-user{
    border-style: solid;
    border-color: white white white yellow;
}
.card-inventory{
    border-style: solid;
    border-color: white white white #EF5350;
}
.card-clients{
    border-style: solid;
    border-color:  white white white #4FC1E9;
}
.card-sells{
    border-style: solid;
    border-color: white white white #26CFAD;
}
.card-img{
    margin-top: 0px;
    padding-top: 0px;
    width:60px;
    margin-top: 0px;
}
.btn-perso{
    margin-top:40px;
    margin-left:150px;
    width:100px;
    height:50px;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif !important;
    text-decoration: none;
}


.btn-user{
    text-decoration: none;
    background-color: #F5EA07;
    border: 2px solid #b4ac16;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: medium;
    display: block;
    color: rgb(59, 58, 58);
     padding: 15px;
     font-weight: bold;
     text-transform: uppercase;
     border-radius: 5px;
     max-width: 120px;
     transition: 300ms all;
     cursor: pointer;
     text-align: center;
     padding-top: 10px;
}

.btn-inventory{
    
    background-color: #EF5350;
    border: 3px solid #ba2421;
    font-family: 'Roboto Condensed', sans-serif !important;
   font-size: 13px;
   display: block;
   color: rgb(59, 58, 58);
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    max-width: 120px;
    transition: 300ms all;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
}
.btn-clients{
    
    background-color: #4FC1E9;
    border: 2px solid #1596c1;
    font-family: 'Roboto Condensed', sans-serif !important;
   font-size: medium;
   display: block;
   color: rgb(59, 58, 58);
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    max-width: 120px;
    transition: 300ms all;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
}
.btn-sells{
    
    background-color: #26CFAD;
    border: 2px solid #0aad8a;
    font-family: 'Roboto Condensed', sans-serif !important;
   font-size: medium;
   display: block;
   color: rgb(59, 58, 58);
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    max-width: 120px;
    transition: 300ms all;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
}


@media only screen and (max-width: 1500px) {
    .cards-4 {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 1050px) {
    .cards-4 {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 886px) {
    .cards-4 {
        grid-template-columns: repeat(1, 1fr);
    }
}

 


.cew-9{

 
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 2fr;
    text-align: center;



}
.col{

    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 2fr;
    text-align: center;

}


.title {
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;   
    padding-bottom: 10px;
    background-color: steelblue;
    width: 97%;
}

.left {
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 57px;
    float: left;
    position: relative;
    width: 45%;
    border: steelblue solid 1px;
    height: auto;
}

.right {
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
    position: relative;
    float: left;
    width: 45%;
    border: steelblue solid 1px;
    height: auto;
}
