
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(240, 240, 240);
    font-family: sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ------------------------------------------------------------ */


.progress {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 0;
    height: 3px;
    background-image: linear-gradient(to right, #529bdb, #3250bf);
    border-radius: 4px;
    animation: progress 3s .25s linear forwards;
}

@keyframes fade {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }

    90% {
        opacity: 1;
        transform: translateY(0px);
    }

    95% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: translateY(-30px);
    }
}

@keyframes progress {
    to {
        width: calc(100% - 10px);
    }
}


/******************CARDS DEL INICIO*************************************/

.card-img {
    width: 20%; /* ajuste el tamaño de las imágenes */
    margin: 0 auto; /* centrar la imagen dentro de su contenedor */
  }
  
  .btn-perso {
    width: 80%; /* ajuste el tamaño de los botones */
    margin-top: 10px; /* agregar un margen superior de 10 píxeles al botón */
    transform: scale(0.8); /* reducir la escala de los botones */
  }
  
  .cardCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
  }
  
  .card {
    flex: 1 1 200px; /* ajuste el tamaño de las tarjetas */
    margin: 10px;  /* agregar un margen de 10 píxeles entre las cards */
    text-align: center; /* centrar el contenido dentro de las cards */
    margin-bottom: 20px;
    box-shadow: 8px 7px 9px 3px #bebebf;
    border-radius: 5px;
}
  
  @media screen and (max-width: 768px) {
    .card {
      flex-basis: 100%; /* mostrar las tarjetas en una columna en pantallas pequeñas */
    }
  }
.card-grafic{
    border-left: 3px;
    padding: 0 0 0 0 !important;
    border-style: solid;
    border-color: white white white yellow;
}
.card-user{
    border-left: 3px;
    border-style: solid;
    border-color: white white white yellow;
}
.card-inventory{
    border-left: 3px;
    border-style: solid;
    border-color: white white white #EF5350;
}
.card-cliente{
    border-left: 3px;
    border-style: solid;
    border-color:  white white white #4FC1E9;
}
.card-sells{
    border-left: 3px;
    border-style: solid;
    border-color: white white white #26CFAD;
}
.card-empleado{
    border-left: 3px;
    border-style: solid;
    border-color: white white white rgb(47, 56, 136);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;

}
.card-imagen{
    border-left: 3px;
    border-style: solid;
    border-color: white white white rgb(47, 56, 136);
}
.card-img2 {
    width: 70%;
    margin: 0 auto;
}


.col1, .col2 {
    width: 100%;
    margin: 10px 0;
}



.btn-user{
    text-decoration: none;
    background-color: #F5EA07;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: large;
    display: block;
    color: #3e3e3e;
    padding: 15px;
    font-weight: bolder;
    text-transform: uppercase;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    min-width: 130px;
    height: 40px;
    width: 40px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: 0 5px #b4ac16;
    margin-bottom: 2px;

}
.btn-user:hover {
    box-shadow: 0 3px #b4ac16;
    top: 1px;
    
  }
  .btn-user:active {
    box-shadow: 0 0 #b4ac16;
    top: 5px;
  }

.btn-inventory{

    font-family: 'Roboto Condensed', sans-serif !important;
    display: block;
    padding: 15px;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    max-width: 120px;
    transition: 300ms all;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    min-width: 130px;
    height: 40px;
    color: #3e3e3e;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: none;
    background:  #eda185;
    box-shadow: 0 5px #EF5350;
    margin-bottom: 2px; 
}
.btn-inventory:hover {
    box-shadow: 0 3px #EF5350;
    top: 1px;
    
  }
  .btn-inventory:active {
    box-shadow: 0 0 #be613f;
    top: 5px;
  }
.btn-clients{
    
    background-color: #4FC1E9;
    
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: large;
    margin-bottom: 2px;
    display: block;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 120px;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    transition: all 0.3s ease;
    min-width: 130px;
    height: 40px;
    color: #3e3e3e;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #4FC1E9;
    box-shadow: 0 5px #4433ff;
    
}
.btn-clients:hover {
    box-shadow: 0 3px #4433ff;
    top: 1px;
    
  }
  .btn-clients:active {
    box-shadow: 0 0 #4433ff;
    top: 5px;
  }
.btn-sells{
    
    background: #26CFAD;
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: large;
    display: block;
    margin-bottom: 2px;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 120px;
    transition: 300ms all;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    min-width: 130px;
    height: 40px;
    color: #3e3e3e;
    padding: 5px 10px;
    font-weight: bold;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    
    box-shadow: 0 5px #0aa180;
}
.btn-sells:hover {
    box-shadow: 0 3px #0aa180;
    top: 1px;
    
  }
  .btn-sells:active {
    box-shadow: 0 0 #4433ff;
    top: 5px;
  }


@media only screen and (max-width: 1500px) {
    .cards-4 {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 1050px) {
    .cards-4 {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 886px) {
    .cards-4 {
        grid-template-columns: repeat(1, 1fr);
    }
}


/******************Perfil********************/
.titulo-carrusel{

    
    margin-bottom: 1rem;
    display: block;
    height: 90px;
    text-decoration:bold;
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif !important;
    margin-block: 130px;
}
.tamanoimg{
 width: 270px;
 height: 270px;
 margin-top: 20px;

}
@media (max-width: 768px) {
    .tamanoimg {
      width: 100%;
      height: auto;
    }
  }
  .carousel-control-next-icon {
    color: #071f2d; /* código de color azul */
    fill: dimgray;
  }
  
.hidden-sm1{
   
    margin-bottom: 1rem;
    display: block;
    height: 90px;
    text-decoration:bold;
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif !important;
    margin-block: 130px;
    
  }

/*********Contenedor de 3 divvs, cantidad clientes, productos**********/

/* .row.no-gutters [class^='col'] {
    padding-right: 0;
    padding-left: 0;
  } */

  .card-usuariologueado{

    border-left: 3px;
    border-style: solid;
    border-color: white white white rgb(47, 56, 136);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
    width: 540px;
    height: 500px;
    display: grid;
    flex-direction: row;
  
  }
  .card-usuariologueado2{

    border-left: 3px;
    border-style: solid;
    border-color: white white white rgb(47, 56, 136);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
    width: 540px;
    height: 500px;
    display: flex;
    flex-direction: row;

}
.card-img22 {
    
    border-radius: 50%;
    border: 3px solid black;
    width: 45%;
    max-width: 100%;
    height: auto;
}


.hidden-sm{

text-decoration:bold;
font-size: 30px;
font-family: 'Roboto Condensed', sans-serif !important;

}

/***************Contenedor de 2 divs reportes ventas y stock******************/

#reporte-venta{
    flex: 10;
    text-align: center;
    
    width: 50%;
    height: 400px;
    margin-right: 5px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    border-style:solid;
    border-width: 4px;
    border-color: white white white #0c335d;
    
}



.columna {
    display: inline-block;
    width: 30%;
    margin-right: 5%;
    vertical-align: top;
    box-sizing: border-box;
    padding: 10px;
    background-color: #f2f2f2;
}

/********************REPORTES************************************/


.columnas-juntas2{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    position: relative;
    background: white;
    border-style:solid;
    border-width: 4px;
    border-color: white white white #0c335d;
    border-radius: 10px;
    display: flex;
    grid-gap: 20px;
    flex-wrap:nowrap;
flex-direction: row;
margin: auto;
width: 90%;
align-items: center;
margin-bottom: 50px;
box-shadow: 8px 7px 9px 3px #bebebf;
}


.columnas-juntas2-2{
    cursor: pointer;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    position: relative;
    background: white;
    border-style:solid;
    border-width: 4px;
    border-color: white white white #0c335d;
    border-radius: 10px;
    display: flex;
    grid-gap: 20px;
    flex-wrap:nowrap;
    overflow: auto;
flex-direction: row;
margin: auto;
width: 90%;
align-items: center;
margin-bottom: 50px;
padding-bottom: 45px; /* Añadir un padding inferior */
box-shadow: 8px 7px 9px 3px #bebebf;
}

.imagen-venta1{
        justify-content: left;
        margin: 0 auto;
        width: 180px;
        height: 170px;
}
.imagen-movimiento{
    justify-content: left;
    margin: 0 auto;
    width: 180px;
    height: 170px;
}
    
.table-responsive {
        /* Propiedades de estilo para la clase table-responsive */
        display: flex; 
        flex-direction: column;
        width: 1000px;
        height: 400px;
        justify-content: right;
        margin-top: 10px;
        background-color: white;
        overflow-x: auto;
        overflow-y: auto;
        float: right;
        flex-basis: 90%;
}


.table-responsive::-webkit-scrollbar-thumb {
    background-color: #555;
  }
  
  .table-responsive::-webkit-scrollbar-track {
    background-color: #132d94;
  }
.texto-imagen{
    flex-basis: 10%;
    float: left;
    display: flex; 
    flex-direction: column;



}
.texto-imagen-reporte-venta{

    text-align: center;
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif !important;
    margin-left: 5px;


}

.card-grafic1{
    cursor: pointer;
    top: 5px;
    left: 25%;
    width: 200px;
    
  }
  .col-sm-12.col-md-3{

justify-content: center;
    
  }
