@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

/* *{
    font-family: 'Roboto Condensed', sans-serif !important

} */

.contenedor {
    margin: 51px 0px 20px 61px;

}

.contenedorProducts{
    height: 100vh;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #aaa;
    color: #fff;
    clear: both;
    padding: 10px 0px;
    text-align: center;
    grid-area: footer;
}

.modalHeaderColor{
    background: #43cea2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.modal-title{
    font-family: Arial, Helvetica, sans-serif;
    text-align:left;
}

input::file-selector-button {
    border: thin solid grey;
    border-radius: 50px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-top: 40px;
}

.button-save {
    margin-right: 50px;
    height: 80px;
    width: 200px;
    border-radius: 10px;
    background-color: #40B419;
    font-size: larger;
    border: none;
    color: white;
    font-size: 30px;
    
}

.button-save:hover{
    border: 1px solid rgb(22, 117, 6);
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: #2b800e;
}

.button-cancel {
    margin-right: 50px;
    height: 80px;
    width: 200px;
    border-radius: 10px;
    background-color: #FF0038;
    font-size: larger;
    border: none;
    color: white;
    font-size: 30px;
}

.button-cancel:hover{
    border: 1px solid rgb(112, 0, 0);
    color: rgb(255, 255, 255);
    background-color: #990021;
    text-decoration: none;
}
.image {
    background-color:#005092;
    color: white;
    padding: 10px 10px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    
  }

.roboto{
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 400 !important;
    color: black;
}


@media screen and (max-width: 900px){

        .first{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
        
}

@media screen and (max-width: 900px){

        .second{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
        
}

@media screen and (max-width: 900px){

        .third{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
        
}



@media screen and (max-width: 600px){

        .first{
            display: grid;
            margin-left: 30px;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 1fr);
        }
        .second {
            display: grid;
            margin-left: 30px;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 1fr);
        }
        .third{
            display: grid;
            margin-left: 30px;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 1fr);
        }

        .four{
            display: grid;
            margin-left: 30px;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 1fr);
        }

        .selectC{
            display: flex;
            width: 400px;
        }

        .button-container{
            display: flex;
           justify-content: center;
           margin-left: 100px;
        }

        .texto{
            margin-left: 55px;
        }
        
}



/* *{
    subir foto

} */

.subirFoto{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 40px 40px 40px 1fr;
}

.fotoText{
    margin-top: 13PX;
    margin-left: 15px;
}

#image{


    margin-top: 5px;
    margin-left: 15px;

}

.iconoFoto{
    width: 100%;
    margin-top: 10PX;
    display: flex;

}

.pesoText{
    margin-top: 0px;
    margin-left: 15px;
}

#img-preview{
    margin-left: 15px;
    width: 150px;
    height: 150px;
}

.modalC{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btnAgregarU:hover{
color: black;
background-color: #06aaeb;
border: 1px solid black;
}

.btnUpdateUser:hover{
    
    background-color: yellow;
    border: 1.5px solid black;
}

.btnDeleteUser:hover{
    background-color: red;
    border: 1.5px solid black;
    color: black;
}

@media screen and (max-width: 1032px){

    
    .tablaUs{
        width: 850px;
        margin-left: 60px;
    }

    .cUser{
        margin-left: 60px;

    }

    .rU{
        width: 850px;
    }
}

@media screen and (max-width: 991px){

    .tablaUs{
        width: 820px;
        margin-left: -40px;
    }

    .cUser{
        margin-left: -40px;

    }

    .rU{
        width: 820px;
    }
}

@media screen and (max-width: 900px){

    .tablaUs{
        width: 750px;
        margin-left: 10px;
    }

    .cUser{
        margin-left: 10px;

    }

    .rU{
        width: 750px;
    }
}

@media screen and (max-width: 800px){

    .tablaUs{
        width: 690px;
        margin-left: 25px ;
    }

    .cUser{
        margin-left: 25px;

    }

    .rU{
        width: 690px;
    }
}

@media screen and (max-width: 767px){

    .tablaUs{
        width: 630px;
        margin-left: -25px ;
    }

    .cUser{
        margin-left: -25px;

    }

    .rU{
        width: 630px;
    }
}

@media screen and (max-width: 670px){

    .tablaUs{
        width: 560px;
        margin-left: 15px ;
    }

    .cUser{
        margin-left: 15px;
    }

    .rU{
        width: 560px;
    }
}

@media screen and (max-width: 594px){

    .tablaUs{
        width: 475px;
        margin-left: 45px ;
    }

    .cUser{
        margin-left: 45px;
    }

    .rU{
        width: 475px;
    }
}

@media screen and (max-width: 500px){

    .tablaUs{
        width: 410px;
        margin-left: 55px ;
    }

    .cUser{
        margin-left: 55px;
    }

    .rU{
        width: 410px;
    }
}

